/dist/
node_modules
.idea
.settings
.vscode
.DS_Store
/build/
logs/
uploads/
/resources/config/.env



# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log
.js

# build-analytics
.build-analytics
package-lock.json
pages/


# rollup-.env output
docs/idea/receipt/.DS_Store

src/migrations/
src/seeders/
resources/config/.envOrig
uploads
